In [1]:
# pip install openpyxl

In [2]:
import pandas as pd
import numpy as np

In [3]:
reviews2023 = pd.read_excel('../our_reviews/Reviews_2023.xlsx', sheet_name=1, header=1)

# EDA

In [4]:
reviews2023.head()

,Fecha de creación,Fecha de modificación,Business Id,Nombre del establecimiento,groups,Código del establecimiento,Dirección,Ciudad,Código postal,Plataforma,...,Modelo utilizado,Recomendado,Fecha de la respuesta.1,Respuesta.1,Modelo utilizado.1,Número de comentarios,rating.1,Fecha de la respuesta.2,Respuesta.2,tags
0,2023-03-03 10:23:17.895,NaT,60c36a600cdc2e2bf4c8593b,Hospital Universitari Sagrat Cor,"Cataluña, Hospi",HUSCCAT,"Carrer De Viladomat, 288",Barcelona,08029,GOOGLE_MY_BUSINESS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,+ At. recibida
1,2023-03-02 18:40:07.989,NaT,60c36a600cdc2e2bf4c8593b,Hospital Universitari Sagrat Cor,"Cataluña, Hospi",HUSCCAT,"Carrer De Viladomat, 288",Barcelona,08029,GOOGLE_MY_BUSINESS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,+ At. recibida
2,2023-03-02 12:08:30.997,NaT,60c36a600cdc2e2bf4c8593b,Hospital Universitari Sagrat Cor,"Cataluña, Hospi",HUSCCAT,"Carrer De Viladomat, 288",Barcelona,08029,GOOGLE_MY_BUSINESS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,- Disconf. tto.
3,2023-03-02 07:50:16.166,NaT,60c36a600cdc2e2bf4c8593b,Hospital Universitari Sagrat Cor,"Cataluña, Hospi",HUSCCAT,"Carrer De Viladomat, 288",Barcelona,08029,GOOGLE_MY_BUSINESS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,+ Sin comentario
4,2023-03-01 21:01:09.882,NaT,60c36a600cdc2e2bf4c8593b,Hospital Universitari Sagrat Cor,"Cataluña, Hospi",HUSCCAT,"Carrer De Viladomat, 288",Barcelona,08029,GOOGLE_MY_BUSINESS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,+ At. recibida

In [5]:
reviews2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23424 entries, 0 to 23423
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha de creación           23424 non-null  datetime64[ns]
 1   Fecha de modificación       3885 non-null   datetime64[ns]
 2   Business Id                 23424 non-null  object
 3   Nombre del establecimiento  23424 non-null  object
 4   groups                      23424 non-null  object
 5   Código del establecimiento  23424 non-null  object
 6   Dirección                   23424 non-null  object
 7   Ciudad                      23424 non-null  object
 8   Código postal               23424 non-null  object
 9   Plataforma                  23424 non-null  object
 10  content                     18035 non-null  object
 11  author                      23424 non-null  object
 12  Eliminado                   23424 non-null  object
 13  Zona horaria                23424 non-null  object
 14  rating                      23424 non-null  int64
 15  Fecha de la respuesta       23324 non-null  datetime64[ns]
 16  Respuesta                   23324 non-null  object
 17  Modelo utilizado            3174 non-null   object
 18  Recomendado                 0 non-null      float64
 19  Fecha de la respuesta.1     0 non-null      float64
 20  Respuesta.1                 0 non-null      float64
 21  Modelo utilizado.1          0 non-null      float64
 22  Número de comentarios       0 non-null      float64
 23  rating.1                    0 non-null      float64
 24  Fecha de la respuesta.2     0 non-null      float64
 25  Respuesta.2                 0 non-null      float64
 26  tags                        22858 non-null  object
dtypes: datetime64[ns](3), float64(8), int64(1), object(15)
memory usage: 4.8+ MB

In [6]:
reviews2023.columns

Index(['Fecha de creación', 'Fecha de modificación', 'Business Id',
       'Nombre del establecimiento', 'groups', 'Código del establecimiento',
       'Dirección', 'Ciudad', 'Código postal', 'Plataforma', 'content',
       'author', 'Eliminado', 'Zona horaria', 'rating',
       'Fecha de la respuesta', 'Respuesta', 'Modelo utilizado', 'Recomendado',
       'Fecha de la respuesta.1', 'Respuesta.1', 'Modelo utilizado.1',
       'Número de comentarios', 'rating.1', 'Fecha de la respuesta.2',
       'Respuesta.2', 'tags'],
      dtype='object')

In [7]:
reviews2023['Eliminado'].value_counts()   # Reviso que no haya ninguna reseña Eliminada

No    23424
Name: Eliminado, dtype: int64

Eliminaremos las columnas que no nos aporten valor: 
- Business Id
- Código del establecimiento 
- Plataforma 
- Author 
- Eliminado
- Zona horaria
- Fecha de la respuesta
- Respuesta
- Modelo utilizado
- Recomendado
- Fecha de la respuesta.1
- Respuesta.1
- Modelo utilizado.1
- Número de comentarios
- rating.1
- Fecha de la respuesta.2
- Respuesta.2

In [8]:
drop_cols = ['Business Id',
             'Código del establecimiento',
             'Plataforma',
             'author', 
             'Eliminado', 
             'Zona horaria', 
             'Fecha de la respuesta', 
             'Respuesta', 
             'Modelo utilizado', 
             'Recomendado',
             'Fecha de la respuesta.1', 
             'Respuesta.1', 
             'Modelo utilizado.1',
             'Número de comentarios', 
             'rating.1', 
             'Fecha de la respuesta.2',
             'Respuesta.2']

In [9]:
reviews2023.drop(drop_cols, axis=1, inplace=True)    # Elimino las columnas que no me sirven de inicio

In [10]:
reviews2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23424 entries, 0 to 23423
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha de creación           23424 non-null  datetime64[ns]
 1   Fecha de modificación       3885 non-null   datetime64[ns]
 2   Nombre del establecimiento  23424 non-null  object
 3   groups                      23424 non-null  object
 4   Dirección                   23424 non-null  object
 5   Ciudad                      23424 non-null  object
 6   Código postal               23424 non-null  object
 7   content                     18035 non-null  object
 8   rating                      23424 non-null  int64
 9   tags                        22858 non-null  object
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 1.8+ MB

Transformaremos las siguientes columnas: 
- Fecha de creación y Fecha de modificación >> Fecha
- En la columna 'tags' tenemos algunos valorse nulos >> Revisar cuando la columna de rating sea 3 para añadir el valor 'Neutro' en tag

## Transformación: crear la columa 'Fecha', la cual será la 'Fecha de creación' de la reseña salvo que haya una modificación, que entonces cogerá el valor de 'Fecha de modificación'

In [11]:
reviews2023['Fecha de modificación'].value_counts()

2023-06-09 22:03:12.581    2
2023-06-13 22:00:11.224    2
2023-07-20 23:06:25.513    2
2023-02-28 22:34:16.078    1
2023-03-09 07:59:07.436    1
                          ..
2023-06-15 22:39:50.081    1
2023-06-13 19:21:39.356    1
2023-06-13 09:29:43.277    1
2023-06-11 09:49:35.751    1
2023-04-13 11:06:16.935    1
Name: Fecha de modificación, Length: 3882, dtype: int64

In [12]:
reviews2023.head()

,Fecha de creación,Fecha de modificación,Nombre del establecimiento,groups,Dirección,Ciudad,Código postal,content,rating,tags
0,2023-03-03 10:23:17.895,NaT,Hospital Universitari Sagrat Cor,"Cataluña, Hospi","Carrer De Viladomat, 288",Barcelona,08029,"Asistí hace días al hospital, y no pude recibi...",5,+ At. recibida
1,2023-03-02 18:40:07.989,NaT,Hospital Universitari Sagrat Cor,"Cataluña, Hospi","Carrer De Viladomat, 288",Barcelona,08029,Mi experiencia de la cirugía que me han hecho ...,5,+ At. recibida
2,2023-03-02 12:08:30.997,NaT,Hospital Universitari Sagrat Cor,"Cataluña, Hospi","Carrer De Viladomat, 288",Barcelona,08029,"La atención del 70% de auxiliares, enfermeras ...",1,- Disconf. tto.
3,2023-03-02 07:50:16.166,NaT,Hospital Universitari Sagrat Cor,"Cataluña, Hospi","Carrer De Viladomat, 288",Barcelona,08029,NaN,5,+ Sin comentario
4,2023-03-01 21:01:09.882,NaT,Hospital Universitari Sagrat Cor,"Cataluña, Hospi","Carrer De Viladomat, 288",Barcelona,08029,"Gran hospital todo súper limpio , trato excepc...",5,+ At. recibida

In [13]:
reviews2023['Fecha de modificación'].fillna(reviews2023['Fecha de creación'], inplace=True)   
# Reemplazo los valores nulos de 'Fecha de modificación' con los valores de 'Fecha de creación'

In [14]:
reviews2023.head()

,Fecha de creación,Fecha de modificación,Nombre del establecimiento,groups,Dirección,Ciudad,Código postal,content,rating,tags
0,2023-03-03 10:23:17.895,2023-03-03 10:23:17.895,Hospital Universitari Sagrat Cor,"Cataluña, Hospi","Carrer De Viladomat, 288",Barcelona,08029,"Asistí hace días al hospital, y no pude recibi...",5,+ At. recibida
1,2023-03-02 18:40:07.989,2023-03-02 18:40:07.989,Hospital Universitari Sagrat Cor,"Cataluña, Hospi","Carrer De Viladomat, 288",Barcelona,08029,Mi experiencia de la cirugía que me han hecho ...,5,+ At. recibida
2,2023-03-02 12:08:30.997,2023-03-02 12:08:30.997,Hospital Universitari Sagrat Cor,"Cataluña, Hospi","Carrer De Viladomat, 288",Barcelona,08029,"La atención del 70% de auxiliares, enfermeras ...",1,- Disconf. tto.
3,2023-03-02 07:50:16.166,2023-03-02 07:50:16.166,Hospital Universitari Sagrat Cor,"Cataluña, Hospi","Carrer De Viladomat, 288",Barcelona,08029,NaN,5,+ Sin comentario
4,2023-03-01 21:01:09.882,2023-03-01 21:01:09.882,Hospital Universitari Sagrat Cor,"Cataluña, Hospi","Carrer De Viladomat, 288",Barcelona,08029,"Gran hospital todo súper limpio , trato excepc...",5,+ At. recibida

In [15]:
reviews2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23424 entries, 0 to 23423
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha de creación           23424 non-null  datetime64[ns]
 1   Fecha de modificación       23424 non-null  datetime64[ns]
 2   Nombre del establecimiento  23424 non-null  object
 3   groups                      23424 non-null  object
 4   Dirección                   23424 non-null  object
 5   Ciudad                      23424 non-null  object
 6   Código postal               23424 non-null  object
 7   content                     18035 non-null  object
 8   rating                      23424 non-null  int64
 9   tags                        22858 non-null  object
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 1.8+ MB

In [16]:
reviews2023.drop('Fecha de creación', axis=1, inplace=True)   # Elimino 'Fecha de creación'

In [17]:
reviews2023 = reviews2023.rename(columns={'Fecha de modificación': 'Fecha'})   # La columna pasa a llamarse 'Fecha'

In [18]:
reviews2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23424 entries, 0 to 23423
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       23424 non-null  datetime64[ns]
 1   Nombre del establecimiento  23424 non-null  object
 2   groups                      23424 non-null  object
 3   Dirección                   23424 non-null  object
 4   Ciudad                      23424 non-null  object
 5   Código postal               23424 non-null  object
 6   content                     18035 non-null  object
 7   rating                      23424 non-null  int64
 8   tags                        22858 non-null  object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 1.6+ MB

## Transformación: valores nulos en tag

In [19]:
reviews2023['tags'].unique()    # Reviso los valores de tags: hay nulos y un error en '+ At. recibida,+ At. paciente'

array(['+ At. recibida', '- Disconf. tto.', '+ Sin comentario',
       '- Organización', '- Otros', '- Otras disconformidades',
       '- Tiempo espera', '- Com. inapropiados', '+ Profesionales',
       '- Patología no ident.', '- Info. general', '- Sin comentario',
       '- Disconf. profesional', '- At. telefónica',
       '- Comport. irrespetuoso', '- Info. clínica',
       '- Disconf. seguimiento', '- Instal. deficientes',
       '- Falta asist.', nan, '- Falta recursos',
       '- Disconf. diagnóstico', '- Dificultad documentación',
       '+ At. paciente', '- Tiempo en consulta', '+ At. telefónica',
       '- Tiempo a cita', '- Portal paciente', '- Falta explic.',
       '- Dificultad remisión', '+ Partos', '- Calidad comida',
       '- Incumplimiento instruc.', '- No escucha',
       '+ At. recibida,+ At. paciente'], dtype=object)

In [20]:
reviews2023['tags'].isnull().sum()   # Tengo 566 valores vacíos en tags

566

In [21]:
(reviews2023['rating'] == 3).sum()   # Pero solo 564 filas donde el rating sea 3

564

In [22]:
reviews2023.loc[(reviews2023['rating'] == 3) & (reviews2023['tags'].isnull()), 'tags'] = 'Neutro'
# Cuando las reseñas tienen el rating de 3, el valor por defecto es nulo porque es 'Neutro' y no se categoriza

In [23]:
reviews2023.loc[reviews2023['tags'].isnull()]   # Compruebo los 2 nulos que NO tenían rating de 3

,Fecha,Nombre del establecimiento,groups,Dirección,Ciudad,Código postal,content,rating,tags
10959,2023-01-17 21:57:44.149,Centro Médico Quirónsalud Aribau,"Cataluña, Centros","Calle Aribau, 192",Barcelona,08036,Doy 2 estrellas por el personal médico. Pero s...,2,NaN
18894,2023-01-17 21:58:04.593,Hospital El Pilar,"Cataluña, Hospi","Calle Balmes, 271",Barcelona,08006,1 hora esperando para hacer una resonancia mag...,1,NaN

In [24]:
reviews2023.loc[10959, 'content']      # Leo la reseña

"Doy 2 estrellas por el personal médico. Pero si no quieres esperar 1 hora para pasar a sala, no te recomiendo venir a este sitio. Desastrosa gestión!\n\n(Translated by Google)\nI give 2 stars for the medical staff. But if you don't want to wait 1 hour to go to the room, I don't recommend coming to this place. Disastrous management!"

In [25]:
reviews2023.loc[18894, 'content']     # Leo la reseña

"1 hora esperando para hacer una resonancia magnética. Poca empatía por parte de la doctora. No lo recomiendo para nada. No volveré.\n\n(Translated by Google)\n1 hour waiting to do an MRI. Little empathy on the part of the doctor. I don't recommend it at all. I will not come back."

In [26]:
reviews2023.loc[10959, 'tags'] = '- Tiempo espera'     # Modifico el valor de la tag en esas reseñas 
reviews2023.loc[18894, 'tags'] = '- Tiempo espera'

In [27]:
reviews2023.loc[10959]      # Compruebo

Fecha                                                2023-01-17 21:57:44.149000
Nombre del establecimiento                     Centro Médico Quirónsalud Aribau
groups                                                        Cataluña, Centros
Dirección                                                     Calle Aribau, 192
Ciudad                                                                Barcelona
Código postal                                                             08036
content                       Doy 2 estrellas por el personal médico. Pero s...
rating                                                                        2
tags                                                            - Tiempo espera
Name: 10959, dtype: object

In [28]:
reviews2023.loc[(reviews2023['tags'] == '+ At. recibida,+ At. paciente')]    # Localizo dónde está pillando la tags errónea

,Fecha,Nombre del establecimiento,groups,Dirección,Ciudad,Código postal,content,rating,tags
9303,2023-01-01 16:25:15.839,Hospital Quirónsalud Murcia,"Levante, Hospi","Calle Miguel Hernández, 12",Murcia,30011,Muy limpio y Buena Buena servicios\n\n(Transla...,5,"+ At. recibida,+ At. paciente"
14390,2023-01-20 09:23:46.788,Hospital Universitario Fundación Jiménez Díaz,"Madrid Públicos, Hospi","Avenida Reyes Católicos, 2",Madrid,28040,(Translated by Google) There was a very kind m...,5,"+ At. recibida,+ At. paciente"

In [29]:
reviews2023.loc[14390, 'content']

'(Translated by Google) There was a very kind man (Pontones center) helping people to take out the piece of paper in the machine.\n\n(Original)\nHabía un señor muy amable (centro de Pontones) ayudando a la gente a sacar el papelito en la maquina.'

In [30]:
reviews2023.loc[9303, 'tags'] = '+ At. recibida'
reviews2023.loc[14390, 'tags'] = '+ At. recibida'

In [31]:
reviews2023['tags'].isnull().sum()     # Compruebo que ya no hay nulos

0

In [32]:
reviews2023['tags'].unique()

array(['+ At. recibida', '- Disconf. tto.', '+ Sin comentario',
       '- Organización', '- Otros', '- Otras disconformidades',
       '- Tiempo espera', '- Com. inapropiados', '+ Profesionales',
       '- Patología no ident.', '- Info. general', '- Sin comentario',
       '- Disconf. profesional', '- At. telefónica',
       '- Comport. irrespetuoso', '- Info. clínica',
       '- Disconf. seguimiento', '- Instal. deficientes',
       '- Falta asist.', 'Neutro', '- Falta recursos',
       '- Disconf. diagnóstico', '- Dificultad documentación',
       '+ At. paciente', '- Tiempo en consulta', '+ At. telefónica',
       '- Tiempo a cita', '- Portal paciente', '- Falta explic.',
       '- Dificultad remisión', '+ Partos', '- Calidad comida',
       '- Incumplimiento instruc.', '- No escucha'], dtype=object)

Crearemos 2 nuevas columnas: 
- Tipografía : Hospital, Centro Médico u Otros 
- Territorio: territorio de 1 a 10

## New colum: generamos la columna 'Tipografía' que puede ser 'Hospital', 'Centro médico' u 'Otros'

In [33]:
len(reviews2023['Nombre del establecimiento'].unique())  # 151 centros totales

151

In [34]:
# Veo qué nombres tienen la palabra 'Hospital' para después hacer la lista de hospital
reviews2023[reviews2023['Nombre del establecimiento'].str.contains('Hospital', case=False)]['Nombre del establecimiento'].unique()

array(['Hospital Universitari Sagrat Cor',
       'Grupo Hospitalario Quirónsalud',
       'Consultas Externas Hospital Quirónsalud San José',
       'Hospital Quirónsalud del Vallés', 'Hospital Quirónsalud Son Verí',
       'Hospital El Pilar – Consultas Externas Alfonso XII',
       'Hospital El Pilar – Consultas Externas Balmes',
       'Hospital Quirónsalud Lugo',
       'Hospital Quirónsalud Valle del Henares (Torrejón de Ardoz)',
       'Hospital Materno-Infantil Quirónsalud',
       'Consultas Externas Hospital Quirónsalud Sur',
       'Hospital Quirónsalud Vida',
       'Laboratorio Análisis Clínicos – Hospital Universitari Dexeus',
       'Hospital de Día Quirónsalud Huesca',
       'Hospital Quirónsalud Badalona',
       'Hospital Universitario Quirónsalud Madrid',
       'Hospital Quirónsalud A Coruña', 'Hospital Quirónsalud Málaga',
       'Hospital Quirónsalud Tenerife', 'Hospital Quirónsalud Torrevieja',
       'Hospital Quirónsalud Toledo',
       'Hospital Quirónsalud Miguel Domínguez',
       'Hospital Quirónsalud Clideba', 'Hospital Quirónsalud Ciudad Real',
       'Hospital Ruber Internacional', 'Hospital Quirónsalud Costa Adeje',
       'Hospital Quirónsalud Huelva', 'Hospital Quirónsalud Palmaplanas',
       'Hospital Quirónsalud Sur', 'Hospital Quirónsalud Murcia',
       'Hospital Quirónsalud Valencia', 'Hospital Quirónsalud Albacete',
       'Hospital Quirónsalud Marbella',
       'Hospital Quironsalud Sagrado Corazón',
       'Hospital de Día Quirónsalud Ave María',
       'Hospital Universitario Fundación Jiménez Díaz',
       'Hospital de Día Quirónsalud Playa de Muro',
       'Hospital de Día Quirónsalud Talavera',
       'Hospital Universitari General de Catalunya',
       'Hospital Universitario General de Villalba',
       'Hospital  Universitario La Luz',
       'Hospital De Día Quirónsalud Zaragoza',
       'Hospital Quirónsalud Córdoba',
       'Hospital Quirónsalud Infanta Luisa',
       'Hospital Quirónsalud Santa Cristina',
       'Hospital Quirónsalud Bizkaia',
       'Hospital Quirónsalud Campo de Gibraltar',
       'Hospital Universitario Ruber Juan Bravo (C/Juan Bravo, 49)',
       'Hospital Quirónsalud San José',
       'Hospital de Día Quirónsalud Donostia',
       'Hospital Quirónsalud Cáceres', 'Hospital El Pilar',
       'Hospital Quirónsalud Vitoria', 'Hospital Quirónsalud Zaragoza',
       'Hospital Universitario Ruber Juan Bravo (C/ Juan Bravo, 39)',
       'Hospital Universitario Infanta Elena',
       'Hospital Universitari Dexeus',
       'Hospital Universitario Rey Juan Carlos',
       'Hospital Quirónsalud Barcelona'], dtype=object)

In [35]:
hospital = ['Hospital Universitari Sagrat Cor',
            'Hospital Quirónsalud del Vallés', 
            'Hospital Quirónsalud Son Verí',
            'Hospital El Pilar – Consultas Externas Alfonso XII',
            'Hospital El Pilar – Consultas Externas Balmes',
           'Hospital Quirónsalud Lugo',
           'Hospital Quirónsalud Valle del Henares (Torrejón de Ardoz)',
           'Hospital Materno-Infantil Quirónsalud',
           'Hospital Quirónsalud Vida',
           'Hospital Quirónsalud Badalona',
           'Hospital Universitario Quirónsalud Madrid',
           'Hospital Quirónsalud A Coruña', 
            'Hospital Quirónsalud Málaga',
           'Hospital Quirónsalud Tenerife', 
            'Hospital Quirónsalud Torrevieja',
           'Hospital Quirónsalud Toledo',
           'Hospital Quirónsalud Miguel Domínguez',
           'Hospital Quirónsalud Clideba', 
            'Hospital Quirónsalud Ciudad Real',
           'Hospital Ruber Internacional', 
            'Hospital Quirónsalud Costa Adeje',
           'Hospital Quirónsalud Huelva', 
            'Hospital Quirónsalud Palmaplanas',
           'Hospital Quirónsalud Sur', 
            'Hospital Quirónsalud Murcia',
           'Hospital Quirónsalud Valencia', 
            'Hospital Quirónsalud Albacete',
           'Hospital Quirónsalud Marbella',
           'Hospital Quironsalud Sagrado Corazón',
           'Hospital Universitario Fundación Jiménez Díaz',
           'Hospital Universitari General de Catalunya',
           'Hospital Universitario General de Villalba',
           'Hospital  Universitario La Luz',
           'Hospital Quirónsalud Córdoba',
           'Hospital Quirónsalud Infanta Luisa',
           'Hospital Quirónsalud Santa Cristina',
           'Hospital Quirónsalud Bizkaia',
           'Hospital Quirónsalud Campo de Gibraltar',
           'Hospital Universitario Ruber Juan Bravo (C/Juan Bravo, 49)',
           'Hospital Quirónsalud San José',
           'Hospital Quirónsalud Cáceres', 
            'Hospital El Pilar',
           'Hospital Quirónsalud Vitoria', 
            'Hospital Quirónsalud Zaragoza',
           'Hospital Universitario Ruber Juan Bravo (C/ Juan Bravo, 39)',
           'Hospital Universitario Infanta Elena',
           'Hospital Universitari Dexeus',
           'Hospital Universitario Rey Juan Carlos',
           'Hospital Quirónsalud Barcelona', 
           'Centro Médico Teknon', 
           'Policlínica Gipuzkoa', 
           'IERA Quirónsalud',
           'IERA - Lisboa',
           'Olympia - Grupo Quirónsalud',
           'Quirónsalud Alicante',
           'Centro de Protonterapia Quirónsalud', 
            'Clínica Rotger']

In [36]:
len(hospital)   # Tiene que haber 57 hospitales

57

In [37]:
# Compruebo qué nombres tienen la palabra 'Centro' para hacer después la lista de centro
reviews2023[reviews2023['Nombre del establecimiento'].str.contains('Centro', case=False)]['Nombre del establecimiento'].unique()

array(['Centro Médico Quirónsalud Murcia',
       'Centro Médico Quirónsalud Sevilla Este',
       'Centro de especialidades Pontones',
       'Centro de especialidades Argüelles',
       'Centro de especialidades Cristo Rey',
       'Centro de especialidades Navalcarnero',
       'Centro de especialidades Villaviciosa de Odón',
       'Centro Médico Ruber Juan Bravo',
       'Centro de Rehabilitación Ruber Juan Bravo',
       'Centro Médico Quirónsalud Digest Marti Pujol',
       'Centro Médico Quirónsalud Algeciras',
       'Centro Médico Quirónsalud Parque Litoral',
       'Centro Médico Quirónsalud Marbella',
       'Centro Médico Quirónsalud Guadalete',
       'Centro Médico Quirónsalud Condes de Bustillo',
       'Centro Médico Quirónsalud Espartinas',
       'Centro Médico Quirónsalud Blasco Ibañez',
       'Centro Médico Quirónsalud Artes Gráficas',
       'Centro M. Quirónsalud Almendralejo',
       'Centro M. Quirónsalud Don Benito',
       'Centro Médico Quirónsalud Nuredduna',
       'Centro Médico Quirónsalud Inca',
       'Centro Médico Quirónsalud Manacor',
       'Centro Médico Quirónsalud Palmanova',
       'Centro Médico Quirónsalud Dígest Laietania',
       'Centro de Oftalmología Quirónsalud Marbella',
       'Centro Médico Quirónsalud Costa del Sol',
       'Centro Médico Quirónsalud Severo Ochoa',
       'Centro de Rehabilitación Quirónsalud Vitoria',
       'Centro Médico Quirónsalud Plaza Madroño',
       'Centro de Rehabilitación Quirónsalud Talavera',
       'Centro Médico Quirónsalud Mercado de Colón',
       'Centro Médico Quirónsalud Gran Alacant',
       'Ruber Internacional Centro Médico Masó',
       'Centro de Oftalmología Quirónsalud Vitoria',
       'Centro Médico Quirónsalud Elche',
       'Centro de Rehabilitación Quirónsalud Huelva',
       'Centro de Rehabilitación Quirónsalud Infanta Luisa',
       'Centro Médico Vida La Laguna',
       'Centro Médico Quirónsalud Los Cristianos',
       'Centro médico Quirónsalud Vida Candelaria',
       'Centro Médico Vida - Santa Úrsula',
       'Centro Médico Vida - Icod de los Vinos',
       'Centro Médico Vida Tejina',
       'Centro Médico Vida - Puerto de la Cruz',
       'Centro Médico Vida - Los Realejos',
       'Centro médico Quirónsalud Plaza Lodares ',
       'Centro Médico Quirónsalud',
       'Centro Médico Quirónsalud Valdebebas',
       'Centro de Rehabilitación Quirónsalud Pontevedra',
       'Centro Médico Quirónsalud Pontevedra',
       'Centro Médico Ruber Internacional Paseo Habana',
       'Centro Médico Quirónsalud Toledo', 'Centro Médico Teknon',
       'Centro Médico Quirónsalud Aribau',
       'Centro Médico Quirónsalud Aljarafe',
       'Centro de Protonterapia Quirónsalud',
       'Centro Médico Quirónsalud Alameda',
       'Centro Médico Quirónsalud Manuel Siurot',
       'Centro Médico Quirónsalud Los Remedios',
       'Centro Médico Quirónsalud Mairena',
       'Centro Médico Quirónsalud Málaga',
       'Centro Médico Quirónsalud Nervión',
       'Centro Médico Quirónsalud Plaza Euskadi',
       'Centro Médico Quirónsalud Tres Cantos',
       'Centro Médico Quirónsalud Valle del Henares (Alcalá de Henares)',
       'Centro Médico Quirónsalud A Coruña',
       'Centro Médico Quirónsalud Ferrol',
       'Centro Médico Quirónsalud Fuengirola',
       'Centro Médico Quirónsalud Mérida',
       'Centro Médico Quirónsalud Orihuela',
       'Centro Médico Quirónsalud Puertollano',
       'Centro Médico Quirónsalud Tenerife'], dtype=object)

In [38]:
# Compruebo los nombres que son hospitales 'de Día' porque estos también irán en la lista de centros
reviews2023[reviews2023['Nombre del establecimiento'].str.contains('de Día', case=False)]['Nombre del establecimiento'].unique()

array(['Hospital de Día Quirónsalud Huesca',
       'Hospital de Día Quirónsalud Ave María',
       'Hospital de Día Quirónsalud Playa de Muro',
       'Hospital de Día Quirónsalud Talavera',
       'Hospital De Día Quirónsalud Zaragoza',
       'Hospital de Día Quirónsalud Donostia'], dtype=object)

In [39]:
centro = ['Centro Médico Quirónsalud Murcia',
       'Centro Médico Quirónsalud Sevilla Este',
       'Centro de especialidades Pontones',
       'Centro de especialidades Argüelles',
       'Centro de especialidades Cristo Rey',
       'Centro de especialidades Navalcarnero',
       'Centro de especialidades Villaviciosa de Odón',
       'Centro Médico Ruber Juan Bravo',
       'Centro Médico Quirónsalud Digest Marti Pujol',
       'Centro Médico Quirónsalud Algeciras',
       'Centro Médico Quirónsalud Parque Litoral',
       'Centro Médico Quirónsalud Marbella',
       'Centro Médico Quirónsalud Guadalete',
       'Centro Médico Quirónsalud Condes de Bustillo',
       'Centro Médico Quirónsalud Espartinas',
       'Centro Médico Quirónsalud Blasco Ibañez',
       'Centro Médico Quirónsalud Artes Gráficas',
       'Centro M. Quirónsalud Almendralejo',
       'Centro M. Quirónsalud Don Benito',
       'Centro Médico Quirónsalud Nuredduna',
       'Centro Médico Quirónsalud Inca',
       'Centro Médico Quirónsalud Manacor',
       'Centro Médico Quirónsalud Palmanova',
       'Centro Médico Quirónsalud Dígest Laietania',
       'Centro Médico Quirónsalud Costa del Sol',
       'Centro Médico Quirónsalud Severo Ochoa',
       'Centro Médico Quirónsalud Plaza Madroño',
       'Centro Médico Quirónsalud Mercado de Colón',
       'Centro Médico Quirónsalud Gran Alacant',
       'Ruber Internacional Centro Médico Masó',
       'Centro Médico Quirónsalud Elche',
       'Centro Médico Vida La Laguna',
       'Centro Médico Quirónsalud Los Cristianos',
       'Centro médico Quirónsalud Vida Candelaria',
       'Centro Médico Vida - Santa Úrsula',
       'Centro Médico Vida - Icod de los Vinos',
       'Centro Médico Vida Tejina',
       'Centro Médico Vida - Puerto de la Cruz',
       'Centro Médico Vida - Los Realejos',
       'Centro médico Quirónsalud Plaza Lodares ',
       'Centro Médico Quirónsalud',
       'Centro Médico Quirónsalud Valdebebas',
       'Centro Médico Quirónsalud Pontevedra',
       'Centro Médico Ruber Internacional Paseo Habana',
       'Centro Médico Quirónsalud Toledo', 
       'Centro Médico Quirónsalud Aribau',
       'Centro Médico Quirónsalud Aljarafe',
       'Centro Médico Quirónsalud Alameda',
       'Centro Médico Quirónsalud Manuel Siurot',
       'Centro Médico Quirónsalud Los Remedios',
       'Centro Médico Quirónsalud Mairena',
       'Centro Médico Quirónsalud Málaga',
       'Centro Médico Quirónsalud Nervión',
       'Centro Médico Quirónsalud Plaza Euskadi',
       'Centro Médico Quirónsalud Tres Cantos',
       'Centro Médico Quirónsalud Valle del Henares (Alcalá de Henares)',
       'Centro Médico Quirónsalud A Coruña',
       'Centro Médico Quirónsalud Ferrol',
       'Centro Médico Quirónsalud Fuengirola',
       'Centro Médico Quirónsalud Mérida',
       'Centro Médico Quirónsalud Orihuela',
       'Centro Médico Quirónsalud Puertollano',
       'Centro Médico Quirónsalud Tenerife',
        'Instituto de Neuro-rehabilitación Quirónsalud Pontevedra',
         'Centre Mèdic Quirónsalud Rubí',
         'Centre Mèdic Quirónsalud Badalona Arbres',
         'Hospital de Día Quirónsalud Huesca',
       'Hospital de Día Quirónsalud Ave María',
       'Hospital de Día Quirónsalud Playa de Muro',
       'Hospital de Día Quirónsalud Talavera',
       'Hospital De Día Quirónsalud Zaragoza',
       'Hospital de Día Quirónsalud Donostia',
         'Clínica Quirónsalud Alcázar']

In [40]:
len(centro)

73

In [41]:
otros = ['Instituto Oncológico Quirónsalud Zaragoza',
       'Grupo Hospitalario Quirónsalud',
        'Centro de Rehabilitación Ruber Juan Bravo',
       'Consultas Externas Hospital Quirónsalud San José',
        'Quirónsalud Dental Inca',
       'Quirónsalud Dental Manacor', 
         'Quirónsalud Dental Kids',
        'Centro de Oftalmología Quirónsalud Marbella',
        'Centro de Rehabilitación Quirónsalud Vitoria',
        'Centro de Rehabilitación Quirónsalud Talavera',
        'Centro de Oftalmología Quirónsalud Vitoria',
         'Centro de Rehabilitación Quirónsalud Huelva',
       'Centro de Rehabilitación Quirónsalud Infanta Luisa',
        'Consultas Externas Hospital Quirónsalud Sur',
        'Laboratorio Análisis Clínicos – Hospital Universitari Dexeus',
        'Centro de Rehabilitación Quirónsalud Pontevedra',
        'Quirónsalud Dental y Unidad de Obesidad Quirónsalud Valencia',
        'Unidad de Pediatría Quirónsalud Zaragoza',
        'Unidad de la Mujer de Quirónsalud Zaragoza',
       'Instituto Oftalmológico Quirónsalud Zaragoza',
        'Instituto Oftalmológico Quirónsalud A Coruña']

In [42]:
len(otros)

21

In [43]:
len(hospital)+len(centro)+len(otros)   # Compruebo que tenga 151 centros

151

In [44]:
def dar_tipografía(establecimiento):
    if establecimiento in hospital:
        return 'Hospital'
    elif establecimiento in centro:
        return 'Centro médico'
    elif establecimiento in otros:
        return 'Otros'
    else:
        return 'Desconocido'

In [45]:
reviews2023['Tipografía'] = reviews2023['Nombre del establecimiento'].apply(dar_tipografía)

In [46]:
reviews2023[reviews2023['Tipografía'] == 'Desconocido']  # Compruebo que no hay ningún centro desconocido

Empty DataFrame
Columns: [Fecha, Nombre del establecimiento, groups, Dirección, Ciudad, Código postal, content, rating, tags, Tipografía]
Index: []

In [47]:
reviews2023['Tipografía'].unique()

array(['Hospital', 'Centro médico', 'Otros'], dtype=object)

## New colum: generamos la columna 'Territorio' que irá del 01 al 10

In [51]:
reviews2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23424 entries, 0 to 23423
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       23424 non-null  datetime64[ns]
 1   Nombre del establecimiento  23424 non-null  object
 2   groups                      23424 non-null  object
 3   Dirección                   23424 non-null  object
 4   Ciudad                      23424 non-null  object
 5   Código postal               23424 non-null  object
 6   content                     18035 non-null  object
 7   rating                      23424 non-null  int64
 8   tags                        23424 non-null  object
 9   Tipografía                  23424 non-null  object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 1.8+ MB

In [131]:
reviews2023['Nombre del establecimiento'][reviews2023['groups'] == 'Cataluña, Otros'].unique()   # Forma de localizar

array(['Laboratorio Análisis Clínicos – Hospital Universitari Dexeus'],
      dtype=object)

In [65]:
T_publicos_Madrid = ['Centro de especialidades Pontones',
                   'Centro de especialidades Argüelles',
                   'Centro de especialidades Cristo Rey',
                   'Centro de especialidades Navalcarnero',
                   'Centro de especialidades Villaviciosa de Odón',
                     'Hospital Universitario Fundación Jiménez Díaz',
                   'Hospital Universitario General de Villalba',
                   'Hospital Universitario Infanta Elena',
                   'Hospital Universitario Rey Juan Carlos']

In [68]:
T_corporativo = ['Grupo Hospitalario Quirónsalud']

In [116]:
TRI = ['Ruber Internacional Centro Médico Masó',
       'Hospital Ruber Internacional',
       'Centro Médico Ruber Internacional Paseo Habana',
    
]

In [71]:
T1 = ['Centro de Protonterapia Quirónsalud',
      'Hospital Universitario Quirónsalud Madrid',
      'Hospital Quirónsalud Valle del Henares (Torrejón de Ardoz)',
      'Centro Médico Quirónsalud Valle del Henares (Alcalá de Henares)',
      'Hospital Quirónsalud San José',
      'Olympia - Grupo Quirónsalud',
      'Hospital Universitario Ruber Juan Bravo (C/ Juan Bravo, 39)',
      'Hospital Universitario Ruber Juan Bravo (C/Juan Bravo, 49)',
      'Hospital Quirónsalud Sur', 
      'Hospital  Universitario La Luz',
      'Centro Médico Ruber Juan Bravo',
      'Centro de Rehabilitación Ruber Juan Bravo',
      'Consultas Externas Hospital Quirónsalud San José',
       'Centro Médico Quirónsalud Valdebebas',
      'Consultas Externas Hospital Quirónsalud Sur',
      'Centro Médico Quirónsalud Tres Cantos']

In [73]:
T_Barcelona_Valles = ['Hospital Universitari Sagrat Cor',
       'Hospital Quirónsalud del Vallés',
      'Hospital Universitari General de Catalunya']

In [132]:
T2 = ['Hospital Quirónsalud Badalona',
       'Centro Médico Teknon',
       'Hospital El Pilar',
       'Hospital Universitari Dexeus', 
      'Hospital Quirónsalud Barcelona',
      'Centre Mèdic Quirónsalud Rubí',
       'Centre Mèdic Quirónsalud Badalona Arbres',
       'Centro Médico Quirónsalud Digest Marti Pujol',
       'Hospital El Pilar – Consultas Externas Alfonso XII',
       'Hospital El Pilar – Consultas Externas Balmes',
       'Centro Médico Quirónsalud Dígest Laietania',
       'Centro Médico Quirónsalud Aribau',
     'Instituto Oncológico Quirónsalud Zaragoza',
       'Hospital de Día Quirónsalud Huesca',
       'Unidad de Pediatría Quirónsalud Zaragoza',
       'Unidad de la Mujer de Quirónsalud Zaragoza',
       'Hospital De Día Quirónsalud Zaragoza',
     'Hospital Quirónsalud Zaragoza',
     'Instituto Oftalmológico Quirónsalud Zaragoza',
     'Laboratorio Análisis Clínicos – Hospital Universitari Dexeus']

In [127]:
T3 = ['Centro Médico Quirónsalud Sevilla Este',
       'Centro Médico Quirónsalud Algeciras',
       'Centro Médico Quirónsalud Parque Litoral',
       'Centro Médico Quirónsalud Marbella',
       'Centro Médico Quirónsalud Guadalete',
       'Centro Médico Quirónsalud Condes de Bustillo',
       'Centro Médico Quirónsalud Espartinas',
       'Centro de Oftalmología Quirónsalud Marbella',
       'Centro Médico Quirónsalud Costa del Sol',
       'Centro Médico Quirónsalud Aljarafe',
       'Hospital de Día Quirónsalud Ave María',
       'Centro Médico Quirónsalud Alameda',
       'Centro Médico Quirónsalud Manuel Siurot',
       'Centro Médico Quirónsalud Los Remedios',
       'Centro Médico Quirónsalud Mairena',
       'Centro Médico Quirónsalud Málaga',
       'Centro Médico Quirónsalud Nervión',
       'Centro Médico Quirónsalud Fuengirola',
     'Hospital Materno-Infantil Quirónsalud',
       'Hospital Quirónsalud Málaga', 'Hospital Quirónsalud Huelva',
       'Hospital Quirónsalud Marbella',
       'Hospital Quironsalud Sagrado Corazón',
       'Hospital Quirónsalud Córdoba',
       'Hospital Quirónsalud Infanta Luisa',
       'Hospital Quirónsalud Campo de Gibraltar',
     'Centro de Rehabilitación Quirónsalud Huelva',
       'Centro de Rehabilitación Quirónsalud Infanta Luisa',
     'Centro Médico Quirónsalud']

In [85]:
T4 = ['Centro Médico Quirónsalud Murcia',
       'Centro Médico Quirónsalud Blasco Ibañez',
       'Centro Médico Quirónsalud Artes Gráficas',
       'Centro Médico Quirónsalud Severo Ochoa',
       'Centro Médico Quirónsalud Mercado de Colón',
       'Centro Médico Quirónsalud Gran Alacant',
       'Centro Médico Quirónsalud Elche',
       'Centro Médico Quirónsalud Orihuela',
      'Hospital Quirónsalud Torrevieja', 'Quirónsalud Alicante',
       'Hospital Quirónsalud Murcia', 'Hospital Quirónsalud Valencia',
      'Quirónsalud Dental y Unidad de Obesidad Quirónsalud Valencia'
     ]

In [89]:
T5 = ['Policlínica Gipuzkoa', 'Hospital Quirónsalud Bizkaia',
       'Hospital Quirónsalud Vitoria',
      'Centro Médico Quirónsalud Plaza Euskadi',
       'Hospital de Día Quirónsalud Donostia',
      'Centro de Rehabilitación Quirónsalud Vitoria',
       'Centro de Oftalmología Quirónsalud Vitoria'
     ]

In [93]:
T6 = ['Centro de Rehabilitación Quirónsalud Talavera',
      'Centro Médico Quirónsalud Plaza Madroño',
       'Centro médico Quirónsalud Plaza Lodares ',
       'Centro Médico Quirónsalud Toledo', 'Clínica Quirónsalud Alcázar',
       'Centro Médico Quirónsalud Puertollano',
       'Hospital de Día Quirónsalud Talavera',
      'Hospital Quirónsalud Toledo', 'Hospital Quirónsalud Ciudad Real',
       'Hospital Quirónsalud Albacete',
       'Hospital Quirónsalud Santa Cristina'
     ]

In [97]:
T7 = ['IERA Quirónsalud', 'IERA - Lisboa',
       'Centro M. Quirónsalud Almendralejo',
       'Centro M. Quirónsalud Don Benito',
       'Centro Médico Quirónsalud Mérida',
      'Hospital Quirónsalud Clideba', 'Hospital Quirónsalud Cáceres']

In [101]:
T8 = ['Quirónsalud Dental Inca', 'Quirónsalud Dental Manacor',
       'Quirónsalud Dental Kids',
     'Hospital Quirónsalud Son Verí',
       'Hospital Quirónsalud Palmaplanas', 'Clínica Rotger',
      'Centro Médico Quirónsalud Nuredduna',
       'Centro Médico Quirónsalud Inca',
       'Centro Médico Quirónsalud Manacor',
       'Centro Médico Quirónsalud Palmanova',
       'Hospital de Día Quirónsalud Playa de Muro']

In [105]:
T9 = ['Centro Médico Vida La Laguna',
       'Centro Médico Quirónsalud Los Cristianos',
       'Centro médico Quirónsalud Vida Candelaria',
       'Centro Médico Vida - Santa Úrsula',
       'Centro Médico Vida - Icod de los Vinos',
       'Centro Médico Vida Tejina',
       'Centro Médico Vida - Puerto de la Cruz',
       'Centro Médico Vida - Los Realejos',
       'Centro Médico Quirónsalud Tenerife',
      'Hospital Quirónsalud Vida', 'Hospital Quirónsalud Tenerife',
       'Hospital Quirónsalud Costa Adeje'
     ]

In [114]:
T10 = ['Instituto de Neuro-rehabilitación Quirónsalud Pontevedra',
       'Centro de Rehabilitación Quirónsalud Pontevedra',
       'Instituto Oftalmológico Quirónsalud A Coruña',
       'Centro Médico Quirónsalud Pontevedra',
       'Centro Médico Quirónsalud A Coruña',
       'Hospital Quirónsalud Lugo', 'Hospital Quirónsalud A Coruña',
       'Hospital Quirónsalud Miguel Domínguez',
      'Centro Médico Quirónsalud Ferrol']

In [134]:
len(T_publicos_Madrid) + len(TRI) + len(T_corporativo) + len(T1) + len(T_Barcelona_Valles) + len(T2) + len(T3) + len(T4) + len(T5) + len(T6) + len(T7) + len(T8) + len(T9) + len(T10)
# Me faltan 5 centros que no sé cuáles son 
# Ya tengo los 151

151

In [135]:
def dar_territorio(establecimiento):
    if establecimiento in T_publicos_Madrid:
        return 'Públicos Madrid'
    elif establecimiento in T_corporativo:
        return 'Corporativo'
    elif establecimiento in TRI:
        return 'TRI'
    elif establecimiento in T1:
        return 'T1'
    elif establecimiento in T_Barcelona_Valles:
        return 'Barcelona y Vallés'
    elif establecimiento in T2:
        return 'T2'
    elif establecimiento in T3:
        return 'T3'
    elif establecimiento in T4:
        return 'T4'
    elif establecimiento in T5:
        return 'T5'
    elif establecimiento in T6:
        return 'T6'
    elif establecimiento in T7:
        return 'T7'
    elif establecimiento in T8:
        return 'T8'
    elif establecimiento in T9:
        return 'T9'
    elif establecimiento in T10:
        return 'T10'
    else:
        return 'Desconocido'

In [136]:
reviews2023['Territorio'] = reviews2023['Nombre del establecimiento'].apply(dar_territorio)

In [137]:
reviews2023[reviews2023['Territorio'] == 'Desconocido']

Empty DataFrame
Columns: [Fecha, Nombre del establecimiento, groups, Dirección, Ciudad, Código postal, content, rating, tags, Tipografía, Territorio]
Index: []

In [138]:
reviews2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23424 entries, 0 to 23423
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       23424 non-null  datetime64[ns]
 1   Nombre del establecimiento  23424 non-null  object
 2   groups                      23424 non-null  object
 3   Dirección                   23424 non-null  object
 4   Ciudad                      23424 non-null  object
 5   Código postal               23424 non-null  object
 6   content                     18035 non-null  object
 7   rating                      23424 non-null  int64
 8   tags                        23424 non-null  object
 9   Tipografía                  23424 non-null  object
 10  Territorio                  23424 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 2.0+ MB

In [139]:
reviews2023.drop('groups', axis=1, inplace=True)    # Ya no necesito groups, la elimino

In [143]:
# Ordeno las columnas en bonito
reviews2023 = reviews2023[['Territorio', 'Tipografía', 'Fecha', 'Nombre del establecimiento', 'Dirección', 'Ciudad', 'Código postal', 'content', 'rating', 'tags']]

In [144]:
reviews2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23424 entries, 0 to 23423
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Territorio                  23424 non-null  object
 1   Tipografía                  23424 non-null  object
 2   Fecha                       23424 non-null  datetime64[ns]
 3   Nombre del establecimiento  23424 non-null  object
 4   Dirección                   23424 non-null  object
 5   Ciudad                      23424 non-null  object
 6   Código postal               23424 non-null  object
 7   content                     18035 non-null  object
 8   rating                      23424 non-null  int64
 9   tags                        23424 non-null  object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 1.8+ MB

In [145]:
reviews2023.head()

,Territorio,Tipografía,Fecha,Nombre del establecimiento,Dirección,Ciudad,Código postal,content,rating,tags
0,Barcelona y Vallés,Hospital,2023-03-03 10:23:17.895,Hospital Universitari Sagrat Cor,"Carrer De Viladomat, 288",Barcelona,08029,"Asistí hace días al hospital, y no pude recibi...",5,+ At. recibida
1,Barcelona y Vallés,Hospital,2023-03-02 18:40:07.989,Hospital Universitari Sagrat Cor,"Carrer De Viladomat, 288",Barcelona,08029,Mi experiencia de la cirugía que me han hecho ...,5,+ At. recibida
2,Barcelona y Vallés,Hospital,2023-03-02 12:08:30.997,Hospital Universitari Sagrat Cor,"Carrer De Viladomat, 288",Barcelona,08029,"La atención del 70% de auxiliares, enfermeras ...",1,- Disconf. tto.
3,Barcelona y Vallés,Hospital,2023-03-02 07:50:16.166,Hospital Universitari Sagrat Cor,"Carrer De Viladomat, 288",Barcelona,08029,NaN,5,+ Sin comentario
4,Barcelona y Vallés,Hospital,2023-03-01 21:01:09.882,Hospital Universitari Sagrat Cor,"Carrer De Viladomat, 288",Barcelona,08029,"Gran hospital todo súper limpio , trato excepc...",5,+ At. recibida

In [147]:
reviews2023.to_csv('../our_reviews/clean_2023.csv', index=False)