In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
api_call_1 = pd.read_csv('../infanta_leonor/infanta_leonor_1.csv')
api_call_2 = pd.read_csv('../infanta_leonor/infanta_leonor_2.csv')
api_call_3 = pd.read_csv('../infanta_leonor/infanta_leonor_3.csv')
api_call_4 = pd.read_csv('../infanta_leonor/infanta_leonor_4.csv')
api_call_5 = pd.read_csv('../infanta_leonor/infanta_leonor_5.csv')
api_call_6 = pd.read_csv('../infanta_leonor/infanta_leonor_6.csv')
api_call_7 = pd.read_csv('../infanta_leonor/infanta_leonor_7.csv')
api_call_8 = pd.read_csv('../infanta_leonor/infanta_leonor_8.csv')
api_call_9 = pd.read_csv('../infanta_leonor/infanta_leonor_9.csv')
api_call_10 = pd.read_csv('../infanta_leonor/infanta_leonor_10.csv')
api_call_11 = pd.read_csv('../infanta_leonor/infanta_leonor_11.csv')
api_call_12 = pd.read_csv('../infanta_leonor/infanta_leonor_12.csv')
api_call_13 = pd.read_csv('../infanta_leonor/infanta_leonor_13.csv')
api_call_14 = pd.read_csv('../infanta_leonor/infanta_leonor_14.csv')
api_call_15 = pd.read_csv('../infanta_leonor/infanta_leonor_15.csv')
api_call_16 = pd.read_csv('../infanta_leonor/infanta_leonor_16.csv')
api_call_17 = pd.read_csv('../infanta_leonor/infanta_leonor_17.csv')
api_call_18 = pd.read_csv('../infanta_leonor/infanta_leonor_18.csv')
api_call_19 = pd.read_csv('../infanta_leonor/infanta_leonor_19.csv')
api_call_20 = pd.read_csv('../infanta_leonor/infanta_leonor_20.csv')
api_call_21 = pd.read_csv('../infanta_leonor/infanta_leonor_21.csv')
api_call_22 = pd.read_csv('../infanta_leonor/infanta_leonor_22.csv')

In [96]:
api_call_1 = pd.read_csv('./zarzuela/zarzuela_1.csv')
api_call_2 = pd.read_csv('./zarzuela/zarzuela_2.csv')
api_call_3 = pd.read_csv('./zarzuela/zarzuela_3.csv')
api_call_4 = pd.read_csv('./zarzuela/zarzuela_4.csv')
api_call_5 = pd.read_csv('./zarzuela/zarzuela_5.csv')
api_call_6 = pd.read_csv('./zarzuela/zarzuela_6.csv')
api_call_7 = pd.read_csv('./zarzuela/zarzuela_7.csv')
api_call_8 = pd.read_csv('./zarzuela/zarzuela_8.csv')
api_call_9 = pd.read_csv('./zarzuela/zarzuela_9.csv')
api_call_10 = pd.read_csv('./zarzuela/zarzuela_10.csv')
api_call_11 = pd.read_csv('./zarzuela/zarzuela_11.csv')
api_call_12 = pd.read_csv('./zarzuela/zarzuela_12.csv')

In [97]:
api_call_1.head()

,Unnamed: 0,link,rating,date,source,review_id,snippet,user.name,user.link,user.contributor_id,...,extracted_snippet.original,extracted_snippet.translated,images,user.photos,response.date,response.snippet,response.extracted_snippet.original,response.extracted_snippet.translated,likes,user.local_guide
0,0,https://www.google.com/maps/reviews/data=!4m8!...,1.0,a day ago,Google,ChdDSUhNMG9nS0VJQ0FnSUM5bE9MNF9RRRAB,Fui a urgencias el jueves 22/02 trasladada en ...,neuridicis almanzar,https://www.google.com/maps/contrib/1029204800...,102920480020699631513,...,Fui a urgencias el jueves 22/02 trasladada en ...,I went to the emergency room on Thursday 02/22...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,https://www.google.com/maps/reviews/data=!4m8!...,1.0,5 days ago,Google,ChZDSUhNMG9nS0VJQ0FnSURkMjcyZmVREAE,Mi experiencia fue nefasta acudí 2 años atrás ...,Roxana Mihaela,https://www.google.com/maps/contrib/1064366732...,106436673250153847537,...,Mi experiencia fue nefasta acudí 2 años atrás ...,My experience was disastrous. I went 2 years a...,['https://lh5.googleusercontent.com/p/AF1QipPT...,4.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,https://www.google.com/maps/reviews/data=!4m8!...,5.0,5 days ago,Google,ChZDSUhNMG9nS0VJQ0FnSURkb19xN1dnEAE,He estado 10 días ingresado por una buena neum...,Jose Manuel Bernabe,https://www.google.com/maps/contrib/1015041714...,101504171412304044950,...,He estado 10 días ingresado por una buena neum...,I have been hospitalized for 10 days with seve...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,https://www.google.com/maps/reviews/data=!4m8!...,5.0,a week ago,Google,ChdDSUhNMG9nS0VJQ0FnSURkaklfR2lRRRAB,"Estuvimos ayer en urgencias a las 20:00, el tr...",Maria Hernandez,https://www.google.com/maps/contrib/1043470551...,104347055103865260490,...,"Estuvimos ayer en urgencias a las 20:00, el tr...",We were in the emergency room yesterday at 8:0...,NaN,2.0,6 days ago,"Hola Maria,\n¡Gracias por una reseña tan posit...","Hola Maria,\n¡Gracias por una reseña tan posit...","Hello Maria,\nThank you for such a positive re...",NaN,NaN
4,4,https://www.google.com/maps/reviews/data=!4m8!...,5.0,2 weeks ago,Google,ChZDSUhNMG9nS0VJQ0FnSUNkOGIydGNREAE,"Como siempre hay de todo, puedes tener más sue...",M R,https://www.google.com/maps/contrib/1020455072...,102045507213191941311,...,"Como siempre hay de todo, puedes tener más sue...","As there is always everything, you can be more...",NaN,NaN,a week ago,"Hola M,\nGracias por dedicarnos tiempo y comun...","Hola M,\nGracias por dedicarnos tiempo y comun...","Hello M,\nThank you for taking the time and le...",NaN,NaN

In [6]:
api_call_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0                             10 non-null     int64
 1   link                                   10 non-null     object
 2   rating                                 10 non-null     float64
 3   date                                   10 non-null     object
 4   source                                 10 non-null     object
 5   review_id                              10 non-null     object
 6   snippet                                10 non-null     object
 7   user.name                              10 non-null     object
 8   user.link                              10 non-null     object
 9   user.contributor_id                    10 non-null     object
 10  user.thumbnail                         10 non-null     object
 11  user.reviews                           10 non-null     int64
 12  extracted_snippet.original             10 non-null     object
 13  extracted_snippet.translated           10 non-null     object
 14  images                                 1 non-null      object
 15  user.photos                            5 non-null      float64
 16  response.date                          7 non-null      object
 17  response.snippet                       7 non-null      object
 18  response.extracted_snippet.original    7 non-null      object
 19  response.extracted_snippet.translated  7 non-null      object
 20  likes                                  3 non-null      float64
 21  user.local_guide                       2 non-null      object
dtypes: float64(3), int64(2), object(17)
memory usage: 1.8+ KB

In [7]:
api_call_1['snippet'][0]

'Fui a urgencias el jueves 22/02 trasladada en ambulancia por un dolor en la pierna izquierda, por una ciática  y al llegar al hospital lo primero que dijeron que porque me habían llevado allí si ellos tenían las ambulancias paradas porque no tenían camas, y así tuve que quedarme en un box de urgencias a pasar la noche, sin dormir por todo el ruido y la incomodidad, sin baño, sin poderse quedar un acompañante, en fin una vergüenza y al otro día luego de hacerme una epidural y una radiofrecuencia me mandaron a casa una hora después de ese proceso tan doloroso sin haberme dejado en la REA por lo menos un tiempo prudente para darme el alta. Un trato inhumano por lo menos del Dr de urgencias quien fue que decidió darme el alta. Soy cliente de Sanitas desde hace más de 7 años, y este trato no se lo merece nadie'

In [8]:
api_call_1['extracted_snippet.original'][0]

'Fui a urgencias el jueves 22/02 trasladada en ambulancia por un dolor en la pierna izquierda, por una ciática  y al llegar al hospital lo primero que dijeron que porque me habían llevado allí si ellos tenían las ambulancias paradas porque no tenían camas, y así tuve que quedarme en un box de urgencias a pasar la noche, sin dormir por todo el ruido y la incomodidad, sin baño, sin poderse quedar un acompañante, en fin una vergüenza y al otro día luego de hacerme una epidural y una radiofrecuencia me mandaron a casa una hora después de ese proceso tan doloroso sin haberme dejado en la REA por lo menos un tiempo prudente para darme el alta. Un trato inhumano por lo menos del Dr de urgencias quien fue que decidió darme el alta. Soy cliente de Sanitas desde hace más de 7 años, y este trato no se lo merece nadie'

In [9]:
api_call_1['snippet'][1]

'Mi experiencia fue nefasta acudí 2 años atrás para una operación de nariz tanto estética como por salud, de la cual me salió horrible, la nariz se me quedo mas torcida, las fosas nasales desiguales y el tabique también torcido de tal manera que se veía a simple vista, a eso que vuelvo para las revisiones y efectivamente el médico (Doctor Antonio Lara Peinado ) me dice que han salido muchas cosas mal y que me van a tener que volver a operar, asi que pasado un año me volví a someter a otra cirugía para reparar los fallos que habían cometido… , un año mas tarde y después de dos cirugías mi nariz se sigue viendo torcida la punta con desniveles y en el tabique con bolas de cartílagos a la que vuelvo a la clínica para la revisión y adivinen que me dice? Que me tienen que volver a operar para arreglarlo otra vez .\nPERO VOSOTROS DE VERDAD SOIS CONSIENTES DE QUE YO A PARTE DE PAGAR 5.000€ POR ALGO QUE ME TENIA QUE SALIR BIEN DESDE EL PRIMER MOMENTO ME TENGA QUE SOMETER A 3 OPERACIÓNES????\n2 AÑOS SEGUIDOS A ANESTESIA A RECUPERACIONES DOLOROSAS A VERME CONSTANTEMENTE MAL CON MI NARIZ… QUE VERGÜENZA DE VERDAD MUCHO PRIVADO, PRIVADO Y LUEGO PERSONAS NO CUALIFICADAS EN EL ÁMBITO\nTENGAN MUCHO CUIDADOO CON QUIEN SE OPEREN\nTOMARE MEDIDAS LEGALES…\nESTO ES UNA VERGÜENZA'

In [10]:
api_call_1['extracted_snippet.original'][1]

'Mi experiencia fue nefasta acudí 2 años atrás para una operación de nariz tanto estética como por salud, de la cual me salió horrible, la nariz se me quedo mas torcida, las fosas nasales desiguales y el tabique también torcido de tal manera que se veía a simple vista, a eso que vuelvo para las revisiones y efectivamente el médico (Doctor Antonio Lara Peinado ) me dice que han salido muchas cosas mal y que me van a tener que volver a operar, asi que pasado un año me volví a someter a otra cirugía para reparar los fallos que habían cometido… , un año mas tarde y después de dos cirugías mi nariz se sigue viendo torcida la punta con desniveles y en el tabique con bolas de cartílagos a la que vuelvo a la clínica para la revisión y adivinen que me dice? Que me tienen que volver a operar para arreglarlo otra vez .\nPERO VOSOTROS DE VERDAD SOIS CONSIENTES DE QUE YO A PARTE DE PAGAR 5.000€ POR ALGO QUE ME TENIA QUE SALIR BIEN DESDE EL PRIMER MOMENTO ME TENGA QUE SOMETER A 3 OPERACIÓNES????\n2 AÑOS SEGUIDOS A ANESTESIA A RECUPERACIONES DOLOROSAS A VERME CONSTANTEMENTE MAL CON MI NARIZ… QUE VERGÜENZA DE VERDAD MUCHO PRIVADO, PRIVADO Y LUEGO PERSONAS NO CUALIFICADAS EN EL ÁMBITO\nTENGAN MUCHO CUIDADOO CON QUIEN SE OPEREN\nTOMARE MEDIDAS LEGALES…\nESTO ES UNA VERGÜENZA'

In [13]:
if api_call_1['snippet'].equals(api_call_1['extracted_snippet.original']):
    print('Es igual')
else:
    print('Hay algo distinto')

Es igual

## 1. Concat

In [5]:
len(api_call_10)

10

In [98]:
df_zarzuela = pd.concat([api_call_1,
                        api_call_2,
                        api_call_3,
                        api_call_4,
                        api_call_5,
                        api_call_6,
                        api_call_7,
                        api_call_8,
                        api_call_9,
                        api_call_10,
                        api_call_11,
                        api_call_12], sort=False, ignore_index=True)

In [99]:
df_zarzuela

,Unnamed: 0,link,rating,date,source,review_id,snippet,user.name,user.link,user.contributor_id,...,user.photos,response.date,response.snippet,response.extracted_snippet.original,response.extracted_snippet.translated,likes,user.local_guide,details.nota_editada,details.en_resumen,details.no_me_deja_responderos_por_lo_que_edito_22_08_23_10
0,0,https://www.google.com/maps/reviews/data=!4m8!...,1.0,a day ago,Google,ChdDSUhNMG9nS0VJQ0FnSUM5bE9MNF9RRRAB,Fui a urgencias el jueves 22/02 trasladada en ...,neuridicis almanzar,https://www.google.com/maps/contrib/1029204800...,102920480020699631513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,https://www.google.com/maps/reviews/data=!4m8!...,1.0,5 days ago,Google,ChZDSUhNMG9nS0VJQ0FnSURkMjcyZmVREAE,Mi experiencia fue nefasta acudí 2 años atrás ...,Roxana Mihaela,https://www.google.com/maps/contrib/1064366732...,106436673250153847537,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,https://www.google.com/maps/reviews/data=!4m8!...,5.0,5 days ago,Google,ChZDSUhNMG9nS0VJQ0FnSURkb19xN1dnEAE,He estado 10 días ingresado por una buena neum...,Jose Manuel Bernabe,https://www.google.com/maps/contrib/1015041714...,101504171412304044950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,https://www.google.com/maps/reviews/data=!4m8!...,5.0,a week ago,Google,ChdDSUhNMG9nS0VJQ0FnSURkaklfR2lRRRAB,"Estuvimos ayer en urgencias a las 20:00, el tr...",Maria Hernandez,https://www.google.com/maps/contrib/1043470551...,104347055103865260490,...,2.0,6 days ago,"Hola Maria,\n¡Gracias por una reseña tan posit...","Hola Maria,\n¡Gracias por una reseña tan posit...","Hello Maria,\nThank you for such a positive re...",NaN,NaN,NaN,NaN,NaN
4,4,https://www.google.com/maps/reviews/data=!4m8!...,5.0,2 weeks ago,Google,ChZDSUhNMG9nS0VJQ0FnSUNkOGIydGNREAE,"Como siempre hay de todo, puedes tener más sue...",M R,https://www.google.com/maps/contrib/1020455072...,102045507213191941311,...,NaN,a week ago,"Hola M,\nGracias por dedicarnos tiempo y comun...","Hola M,\nGracias por dedicarnos tiempo y comun...","Hello M,\nThank you for taking the time and le...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,5,https://www.google.com/maps/reviews/data=!4m8!...,5.0,a year ago,Google,ChdDSUhNMG9nS0VJQ0FnSURobUlPR2xBRRAB,"Trato humano, profesionales estupendos y magní...",RC,https://www.google.com/maps/contrib/1129516391...,112951639137445518211,...,14.0,11 months ago,Queremos agradecer tus opiniones y sugerencias...,Queremos agradecer tus opiniones y sugerencias...,We want to thank you for your opinions and sug...,NaN,True,NaN,NaN,NaN
116,6,https://www.google.com/maps/reviews/data=!4m8!...,1.0,a year ago,Google,ChZDSUhNMG9nS0VJQ0FnSURoNE1xb0JnEAE,Mal servicio por parte del dentista Vilar Sanc...,VM LL,https://www.google.com/maps/contrib/1050114432...,105011443280971505948,...,3.0,11 months ago,Sentimos la valoración obtenida. Estamos compr...,Sentimos la valoración obtenida. Estamos compr...,We are sorry for the evaluation obtained. We a...,7.0,True,NaN,NaN,NaN
117,7,https://www.google.com/maps/reviews/data=!4m8!...,5.0,a year ago,Google,ChdDSUhNMG9nS0VJQ0FnSUNodzRQZTR3RRAB,Quiero felicitar a Pilar la administrativa de ...,Mayte Bolaños,https://www.google.com/maps/contrib/1082250637...,108225063781146754260,...,NaN,a year ago,"Hola Mayte,\nGracias por dedicarnos tiempo y c...","Hola Mayte,\nGracias por dedicarnos tiempo y c...","Hello Mayte,\nThank you for taking the time an...",NaN,NaN,NaN,NaN,NaN
118,8,https://www.google.com/maps/reviews/data=!4m8!...,3.0,a year ago,Google,ChdDSUhNMG9nS0VJQ0FnSUNoNllTNXV3RRAB,Primero quiero resaltar el trabajo de la matro...,eugenia mindurry,https://www.google.com/maps/contrib/1114187750...,111418775019040645437,...,2.0,a year ago,Nos importa mucho tu opinión y nos gustaría da...,Nos importa mucho tu opinión y nos gustaría da...,Your opinion is very important to us and we wo...,4.0,NaN,NaN,NaN,NaN
119,9,https://www.google.com/maps/reviews/data=!4m8!...,1.0,a year ago,Google,ChZDSUhNMG9nS0VJQ0FnSUNLdS1IV0VREAE,Un año después solamente he tenido una respues...,Helena Hernández Herrero,https://www.google.com/maps/contrib/1062980756...,106298075672788972340,...,127.0,2 years ago,"Sentimos la valoración obtenida, por favor, pa...","Sentimos la valoración obtenida, por favor, pa...","We are sorry for the evaluation obtained, plea...",8.0,True,NaN,NaN,NaN

In [53]:
df_zarzuela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 25 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Unnamed: 0                                                   120 non-null    int64
 1   link                                                         120 non-null    object
 2   rating                                                       120 non-null    float64
 3   date                                                         120 non-null    object
 4   source                                                       120 non-null    object
 5   review_id                                                    120 non-null    object
 6   snippet                                                      111 non-null    object
 7   user.name                                                    120 non-null    object
 8   user.link                                                    120 non-null    object
 9   user.contributor_id                                          120 non-null    object
 10  user.thumbnail                                               120 non-null    object
 11  user.reviews                                                 119 non-null    float64
 12  extracted_snippet.original                                   111 non-null    object
 13  extracted_snippet.translated                                 111 non-null    object
 14  images                                                       9 non-null      object
 15  user.photos                                                  60 non-null     float64
 16  response.date                                                114 non-null    object
 17  response.snippet                                             114 non-null    object
 18  response.extracted_snippet.original                          114 non-null    object
 19  response.extracted_snippet.translated                        114 non-null    object
 20  likes                                                        66 non-null     float64
 21  user.local_guide                                             40 non-null     object
 22  details.nota_editada                                         1 non-null      object
 23  details.en_resumen                                           1 non-null      object
 24  details.no_me_deja_responderos_por_lo_que_edito_22_08_23_10  1 non-null      object
dtypes: float64(4), int64(1), object(20)
memory usage: 23.6+ KB

## 2. Drop columns

In [54]:
drop_cols = ['link',
            'source',
            'review_id',
            'user.name',
            'user.link',
            'user.contributor_id',
            'user.thumbnail',
            'user.reviews',
            'extracted_snippet.original',
            'extracted_snippet.translated', 
            'images',
            'user.photos',
            'response.extracted_snippet.original', 
            'response.extracted_snippet.translated',
            'likes',
            'user.local_guide',
            'details.nota_editada',
            'details.en_resumen',
            'details.no_me_deja_responderos_por_lo_que_edito_22_08_23_10']

In [100]:
def eliminar_columnas(df):
    '''
    Del DataFrame elimina las columnas que están en la lista drop_cols
    Input: dataframe
    Output: dataframe sin columnas de la lista
    '''
    drop_cols = ['Unnamed: 0',
                 'link',
                'source',
                'review_id',
                'user.name',
                'user.link',
                'user.contributor_id',
                'user.thumbnail',
                'user.reviews',
                'extracted_snippet.original',
                'extracted_snippet.translated', 
                'images',
                'user.photos',
                 'response.date',
                 'response.snippet',
                'response.extracted_snippet.original', 
                'response.extracted_snippet.translated',
                'likes',
                'user.local_guide',
                'details.nota_editada',
                'details.en_resumen',
                'details.no_me_deja_responderos_por_lo_que_edito_22_08_23_10']
    df = df.drop(columns=[columna for columna in drop_cols if columna in df.columns], errors='ignore')
    print(f'Eliminadas las columnas innecesarias del DataFrame. Ahora cuenta con las siguientes columnas: ', len(df.columns))
    return df

In [101]:
df_zarzuela = eliminar_columnas(df_zarzuela)

Eliminadas las columnas innecesarias del DataFrame. Ahora cuenta con las siguientes columnas:  3

## 3. Corrección en date

In [102]:
df_zarzuela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rating   120 non-null    float64
 1   date     120 non-null    object
 2   snippet  111 non-null    object
dtypes: float64(1), object(2)
memory usage: 2.9+ KB

In [58]:
df_zarzuela['date'].value_counts()

7 months ago     18
8 months ago     11
3 months ago     11
5 months ago     11
4 months ago     10
11 months ago     8
6 months ago      7
9 months ago      7
a month ago       7
2 months ago      7
a year ago        6
3 weeks ago       5
10 months ago     5
2 weeks ago       3
5 days ago        2
a week ago        1
a day ago         1
Name: date, dtype: int64

In [ ]:
'a day ago', '5 days ago', 'a week ago', '2 weeks ago', '3 weeks ago' = FEBRERO 2024  2024-02-01
'a month ago' = ENERO 2024 2024-01-01
'2 months ago' = DICIEMBRE 2023 2023-12-01
'3 moths ago' = NOVIEMBRE 2023 2023-11-01
'4 months ago' = OCTUBRE 2023 2023-10-01
'5 months ago' = SEPTIEMBRE 2023 2023-09-01
'6 months ago' = AGOSTO 2023 2023-08-01
'7 months ago' = JULIO 2023 2023-07-01
'8 months ago' = JUNIO 2023 2023-06-01
'9 months ago' = MAYO 2023 2023-05-01
'10 months ago' = ABRIL 2023 2023-04-01
'11 months ago' = MARZO 2023 2023-03-01

In [103]:
fechas = {
    'a day ago': '2024-02-01',
    '5 days ago': '2024-02-01',
    'a week ago': '2024-02-01',
    '2 weeks ago': '2024-02-01',
    '3 weeks ago': '2024-02-01',
    'a month ago': '2024-01-01',
    '2 months ago': '2023-12-01',
    '3 months ago': '2023-11-01',
    '4 months ago': '2023-10-01',
    '5 months ago': '2023-09-01',
    '6 months ago': '2023-08-01',
    '7 months ago': '2023-07-01',
    '8 months ago': '2023-06-01',
    '9 months ago': '2023-05-01',
    '10 months ago': '2023-04-01',
    '11 months ago': '2023-03-01',
    'a year ago': 'eliminar'
}

In [104]:
df_zarzuela['Fecha'] = df_zarzuela['date'].map(fechas).fillna(pd.to_datetime(df_zarzuela['date'], errors='coerce'))

In [105]:
df_zarzuela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rating   120 non-null    float64
 1   date     120 non-null    object
 2   snippet  111 non-null    object
 3   Fecha    120 non-null    object
dtypes: float64(1), object(3)
memory usage: 3.9+ KB

In [106]:
filas_nulas = df_zarzuela[df_zarzuela['Fecha'].isnull()]
print(filas_nulas)

Empty DataFrame
Columns: [rating, date, snippet, Fecha]
Index: []

In [107]:
df_zarzuela = df_zarzuela[df_zarzuela['Fecha'] != 'eliminar']

In [108]:
df_zarzuela.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114 entries, 0 to 113
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rating   114 non-null    float64
 1   date     114 non-null    object
 2   snippet  105 non-null    object
 3   Fecha    114 non-null    object
dtypes: float64(1), object(3)
memory usage: 4.5+ KB

In [46]:
df_zarzuela.tail()

,rating,date,snippet,Fecha
109,1.0,11 months ago,Desastre absoluto. Mucho cuidado con entrar a ...,2023-03-01
110,1.0,11 months ago,"Desbordados. Imposible una cita presecial,o te...",2023-03-01
111,5.0,11 months ago,Quiero destacar en especial el trato recibido ...,2023-03-01
112,2.0,11 months ago,La atención telefónica para dar fechas nefasta...,2023-03-01
113,1.0,11 months ago,Me hacen una gastroscopia con biopsia (incluye...,2023-03-01

In [109]:
df_zarzuela.drop('date', axis=1, inplace=True)

In [110]:
df_zarzuela.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114 entries, 0 to 113
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rating   114 non-null    float64
 1   snippet  105 non-null    object
 2   Fecha    114 non-null    object
dtypes: float64(1), object(2)
memory usage: 3.6+ KB

In [111]:
df_zarzuela['Fecha'] = pd.to_datetime(df_zarzuela['Fecha'])

In [112]:
df_zarzuela.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114 entries, 0 to 113
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rating   114 non-null    float64
 1   snippet  105 non-null    object
 2   Fecha    114 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 3.6+ KB

In [113]:
df_zarzuela.tail()

     rating                                            snippet      Fecha
109     1.0  Desastre absoluto. Mucho cuidado con entrar a ... 2023-03-01
110     1.0  Desbordados. Imposible una cita presecial,o te... 2023-03-01
111     5.0  Quiero destacar en especial el trato recibido ... 2023-03-01
112     2.0  La atención telefónica para dar fechas nefasta... 2023-03-01
113     1.0  Me hacen una gastroscopia con biopsia (incluye... 2023-03-01

## 4. Nuevas columnas: Nombre establecimiento, Ciudad y Dirección

In [114]:
df_zarzuela = df_zarzuela.assign(Ciudad='Madrid', Dirección='Calle de Pleyades, 25', Establecimiento='Hospital Universitario La Zarzuela')

In [115]:
df_zarzuela.head()

,rating,snippet,Fecha,Ciudad,Dirección,Establecimiento
0,1.0,Fui a urgencias el jueves 22/02 trasladada en ...,2024-02-01,Madrid,"Calle de Pleyades, 25",Hospital Universitario La Zarzuela
1,1.0,Mi experiencia fue nefasta acudí 2 años atrás ...,2024-02-01,Madrid,"Calle de Pleyades, 25",Hospital Universitario La Zarzuela
2,5.0,He estado 10 días ingresado por una buena neum...,2024-02-01,Madrid,"Calle de Pleyades, 25",Hospital Universitario La Zarzuela
3,5.0,"Estuvimos ayer en urgencias a las 20:00, el tr...",2024-02-01,Madrid,"Calle de Pleyades, 25",Hospital Universitario La Zarzuela
4,5.0,"Como siempre hay de todo, puedes tener más sue...",2024-02-01,Madrid,"Calle de Pleyades, 25",Hospital Universitario La Zarzuela

## 5. Cambiar el datatype de rating a int64

In [116]:
df_zarzuela['rating'] = df_zarzuela['rating'].astype('int64')

In [117]:
df_zarzuela.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114 entries, 0 to 113
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rating           114 non-null    int64
 1   snippet          105 non-null    object
 2   Fecha            114 non-null    datetime64[ns]
 3   Ciudad           114 non-null    object
 4   Dirección        114 non-null    object
 5   Establecimiento  114 non-null    object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 6.2+ KB

## 5. Exportar CSV

In [56]:
def export_csv(df):
    '''
    Pilla el DataFrame y genera un csv. 
    Input: DataFrame de argumento
    Ouput: pregunta al usuario la ubicación del archivo, el nombre que le queramos dar. 
    '''
    try:
        file_location = input('Ingresa la ubicación donde quieres guardar el archivo :')
        name = input('Ingresa el nombre que quieres dar al archivo (sin la extensión .csv) :')
        file_path = f'{file_location}/{name}.csv'
        df.to_csv(file_path, index=False)
        return f'DataFrame guardado con éxito con formato .csv'
    except: 
        print("Error al guardar el archivo")

In [57]:
export_csv(df_zarzuela)

Ingresa la ubicación donde quieres guardar el archivo :zarzuela
Ingresa el nombre que quieres dar al archivo (sin la extensión .csv) :clean_zarzuela

'DataFrame guardado con éxito con formato .csv'

# Hosp. Univ. Infanta Sofía

In [118]:
api_call_1 = pd.read_csv('./infanta_sofia/infanta_sofia_1.csv')
api_call_2 = pd.read_csv('./infanta_sofia/infanta_sofia_2.csv')
api_call_3 = pd.read_csv('./infanta_sofia/infanta_sofia_3.csv')
api_call_4 = pd.read_csv('./infanta_sofia/infanta_sofia_4.csv')
api_call_5 = pd.read_csv('./infanta_sofia/infanta_sofia_5.csv')
api_call_6 = pd.read_csv('./infanta_sofia/infanta_sofia_6.csv')
api_call_7 = pd.read_csv('./infanta_sofia/infanta_sofia_7.csv')
api_call_8 = pd.read_csv('./infanta_sofia/infanta_sofia_8.csv')
api_call_9 = pd.read_csv('./infanta_sofia/infanta_sofia_9.csv')
api_call_10 = pd.read_csv('./infanta_sofia/infanta_sofia_10.csv')
api_call_11 = pd.read_csv('./infanta_sofia/infanta_sofia_11.csv')
api_call_12 = pd.read_csv('./infanta_sofia/infanta_sofia_12.csv')
api_call_13 = pd.read_csv('./infanta_sofia/infanta_sofia_13.csv')
api_call_14 = pd.read_csv('./infanta_sofia/infanta_sofia_14.csv')
api_call_15 = pd.read_csv('./infanta_sofia/infanta_sofia_15.csv')
api_call_16 = pd.read_csv('./infanta_sofia/infanta_sofia_16.csv')
api_call_17 = pd.read_csv('./infanta_sofia/infanta_sofia_17.csv')
api_call_18 = pd.read_csv('./infanta_sofia/infanta_sofia_18.csv')
api_call_19 = pd.read_csv('./infanta_sofia/infanta_sofia_19.csv')
api_call_20 = pd.read_csv('./infanta_sofia/infanta_sofia_20.csv')
api_call_21 = pd.read_csv('./infanta_sofia/infanta_sofia_21.csv')
api_call_22 = pd.read_csv('./infanta_sofia/infanta_sofia_22.csv')
api_call_23 = pd.read_csv('./infanta_sofia/infanta_sofia_23.csv')
api_call_24 = pd.read_csv('./infanta_sofia/infanta_sofia_24.csv')
api_call_25 = pd.read_csv('./infanta_sofia/infanta_sofia_25.csv')
api_call_26 = pd.read_csv('./infanta_sofia/infanta_sofia_26.csv')
api_call_27 = pd.read_csv('./infanta_sofia/infanta_sofia_27.csv')

In [119]:
df_infanta_sofia = pd.concat([api_call_1,
                            api_call_2,
                            api_call_3,
                            api_call_4,
                            api_call_5,
                            api_call_6,
                            api_call_7,
                            api_call_8,
                            api_call_9,
                            api_call_10,
                            api_call_11,
                            api_call_12,
                            api_call_13,
                             api_call_14,
                             api_call_15,
                             api_call_16,
                             api_call_17,
                             api_call_18,
                             api_call_19,
                             api_call_20,
                             api_call_21,
                             api_call_22,
                             api_call_23,
                             api_call_24,
                             api_call_25,
                             api_call_26,
                             api_call_27], sort=False, ignore_index=True)

In [120]:
df_infanta_sofia.head()

,Unnamed: 0,link,rating,date,images,source,review_id,snippet,user.name,user.link,user.contributor_id,user.thumbnail,user.local_guide,user.reviews,user.photos,extracted_snippet.original,extracted_snippet.translated,likes
0,0,https://www.google.com/maps/reviews/data=!4m8!...,2.0,an hour ago,['https://lh5.googleusercontent.com/p/AF1QipNP...,Google,ChZDSUhNMG9nS0VJQ0FnSUM5NU1EeGJnEAE,He venido a la urgencia del hospital Infanta S...,Carlos Iván Castillo Moya,https://www.google.com/maps/contrib/1040163193...,104016319380653650987,https://lh3.googleusercontent.com/a-/ALV-UjVhl...,True,188.0,392.0,He venido a la urgencia del hospital Infanta S...,I have come to the emergency room at the Infan...,NaN
1,1,https://www.google.com/maps/reviews/data=!4m8!...,1.0,18 hours ago,['https://lh5.googleusercontent.com/p/AF1QipN8...,Google,ChZDSUhNMG9nS0VJQ0FnSUM5LU5xdWZBEAE,"Vergonzoso.\nMenudo personal….sin educación, s...",Maria E. C. Rodriguez,https://www.google.com/maps/contrib/1092973751...,109297375141004949445,https://lh3.googleusercontent.com/a-/ALV-UjUuj...,True,39.0,7.0,"Vergonzoso.\nMenudo personal….sin educación, s...","Shameful.\nWhat a staff….no education, no empa...",NaN
2,2,https://www.google.com/maps/reviews/data=!4m8!...,1.0,a day ago,NaN,Google,ChZDSUhNMG9nS0VJQ0FnSUM5OEtfNkhnEAE,El peor hospital con diferencia en cuanto a ur...,Raul “Raul17”,https://www.google.com/maps/contrib/1044214356...,104421435695588912104,https://lh3.googleusercontent.com/a/ACg8ocJLNx...,True,101.0,2.0,El peor hospital con diferencia en cuanto a ur...,The worst hospital by far in terms of emergenc...,NaN
3,3,https://www.google.com/maps/reviews/data=!4m8!...,5.0,4 days ago,NaN,Google,ChZDSUhNMG9nS0VJQ0FnSURkbzVIWGFnEAE,Muy profesionales y efectivo. Es muy fácil ori...,Lucía Eva,https://www.google.com/maps/contrib/1129915695...,112991569512987942004,https://lh3.googleusercontent.com/a/ACg8ocKism...,True,68.0,25.0,Muy profesionales y efectivo. Es muy fácil ori...,Very professional and effective. It is very ea...,NaN
4,4,https://www.google.com/maps/reviews/data=!4m8!...,1.0,5 days ago,NaN,Google,ChdDSUhNMG9nS0VJQ0FnSURkOWVpRGpRRRAB,"Ni se molesten en venir, al menos no de urgenc...",Nicolas Jesus Morales Liaz,https://www.google.com/maps/contrib/1099492129...,109949212971051208099,https://lh3.googleusercontent.com/a-/ALV-UjWyo...,True,120.0,11.0,"Ni se molesten en venir, al menos no de urgenc...","Don't even bother coming, at least not in the ...",NaN

In [75]:
df_infanta_sofia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    270 non-null    int64
 1   link                          270 non-null    object
 2   rating                        270 non-null    float64
 3   date                          270 non-null    object
 4   images                        7 non-null      object
 5   source                        270 non-null    object
 6   review_id                     270 non-null    object
 7   snippet                       235 non-null    object
 8   user.name                     270 non-null    object
 9   user.link                     270 non-null    object
 10  user.contributor_id           270 non-null    object
 11  user.thumbnail                270 non-null    object
 12  user.local_guide              87 non-null     object
 13  user.reviews                  269 non-null    float64
 14  user.photos                   117 non-null    float64
 15  extracted_snippet.original    234 non-null    object
 16  extracted_snippet.translated  234 non-null    object
 17  likes                         133 non-null    float64
dtypes: float64(4), int64(1), object(13)
memory usage: 38.1+ KB

In [121]:
def eliminar_columnas(df):
    '''
    Del DataFrame elimina las columnas que están en la lista drop_cols
    Input: dataframe
    Output: dataframe sin columnas de la lista
    '''
    drop_cols = ['Unnamed: 0',
                 'link',
                 'images',
                'source',
                'review_id',
                'user.name',
                'user.link',
                'user.contributor_id',
                'user.thumbnail',
                'user.reviews',
                'extracted_snippet.original',
                'extracted_snippet.translated', 
                'user.photos',
                'response.extracted_snippet.original', 
                'response.extracted_snippet.translated',
                'likes',
                'user.local_guide']
                #'details.nota_editada',
                #'details.en_resumen',
                #'details.no_me_deja_responderos_por_lo_que_edito_22_08_23_10']
    df = df.drop(columns=[columna for columna in drop_cols if columna in df.columns], errors='ignore')
    print(f'Eliminadas las columnas innecesarias del DataFrame. Ahora cuenta con las siguientes columnas: ', len(df.columns))
    return df

In [122]:
df_infanta_sofia = eliminar_columnas(df_infanta_sofia)

Eliminadas las columnas innecesarias del DataFrame. Ahora cuenta con las siguientes columnas:  3

In [123]:
df_infanta_sofia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rating   270 non-null    float64
 1   date     270 non-null    object
 2   snippet  235 non-null    object
dtypes: float64(1), object(2)
memory usage: 6.5+ KB

In [124]:
df_infanta_sofia['date'].unique()

array(['an hour ago', '18 hours ago', 'a day ago', '4 days ago',
       '5 days ago', 'a week ago', '2 weeks ago', '3 weeks ago',
       'a month ago', '2 months ago', '3 months ago', '4 months ago',
       '5 months ago', '6 months ago', '7 months ago', '8 months ago',
       '9 months ago', '10 months ago', '11 months ago', 'a year ago'],
      dtype=object)

In [125]:
fechas = {
    'an hour ago': '2024-02-01',
    '18 hours ago': '2024-02-12',
    'a day ago': '2024-02-01',
    '4 days ago': '2024-02-01',
    '5 days ago': '2024-02-01',
    'a week ago': '2024-02-01',
    '2 weeks ago': '2024-02-01',
    '3 weeks ago': '2024-02-01',
    'a month ago': '2024-01-01',
    '2 months ago': '2023-12-01',
    '3 months ago': '2023-11-01',
    '4 months ago': '2023-10-01',
    '5 months ago': '2023-09-01',
    '6 months ago': '2023-08-01',
    '7 months ago': '2023-07-01',
    '8 months ago': '2023-06-01',
    '9 months ago': '2023-05-01',
    '10 months ago': '2023-04-01',
    '11 months ago': '2023-03-01',
    'a year ago': 'eliminar'
}

In [126]:
df_infanta_sofia['Fecha'] = df_infanta_sofia['date'].map(fechas).fillna(pd.to_datetime(df_infanta_sofia['date'], errors='coerce'))

In [127]:
df_infanta_sofia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rating   270 non-null    float64
 1   date     270 non-null    object
 2   snippet  235 non-null    object
 3   Fecha    270 non-null    object
dtypes: float64(1), object(3)
memory usage: 8.6+ KB

In [128]:
df_infanta_sofia = df_infanta_sofia[df_infanta_sofia['Fecha'] != 'eliminar']

In [129]:
df_infanta_sofia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 0 to 266
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rating   267 non-null    float64
 1   date     267 non-null    object
 2   snippet  232 non-null    object
 3   Fecha    267 non-null    object
dtypes: float64(1), object(3)
memory usage: 10.4+ KB

In [130]:
df_infanta_sofia = df_infanta_sofia.assign(Ciudad='San Sebastián de los Reyes', Dirección='Paseo de Europa, 34', Establecimiento='Hospital Universitario Infanta Sofía')

In [131]:
df_infanta_sofia.head()

,rating,date,snippet,Fecha,Ciudad,Dirección,Establecimiento
0,2.0,an hour ago,He venido a la urgencia del hospital Infanta S...,2024-02-01,San Sebastián de los Reyes,"Paseo de Europa, 34",Hospital Universitario Infanta Sofía
1,1.0,18 hours ago,"Vergonzoso.\nMenudo personal….sin educación, s...",2024-02-12,San Sebastián de los Reyes,"Paseo de Europa, 34",Hospital Universitario Infanta Sofía
2,1.0,a day ago,El peor hospital con diferencia en cuanto a ur...,2024-02-01,San Sebastián de los Reyes,"Paseo de Europa, 34",Hospital Universitario Infanta Sofía
3,5.0,4 days ago,Muy profesionales y efectivo. Es muy fácil ori...,2024-02-01,San Sebastián de los Reyes,"Paseo de Europa, 34",Hospital Universitario Infanta Sofía
4,1.0,5 days ago,"Ni se molesten en venir, al menos no de urgenc...",2024-02-01,San Sebastián de los Reyes,"Paseo de Europa, 34",Hospital Universitario Infanta Sofía

In [132]:
df_infanta_sofia.drop('date', axis=1, inplace=True)

In [133]:
df_infanta_sofia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 0 to 266
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rating           267 non-null    float64
 1   snippet          232 non-null    object
 2   Fecha            267 non-null    object
 3   Ciudad           267 non-null    object
 4   Dirección        267 non-null    object
 5   Establecimiento  267 non-null    object
dtypes: float64(1), object(5)
memory usage: 14.6+ KB

In [134]:
df_infanta_sofia['rating'] = df_infanta_sofia['rating'].astype('int64')

In [135]:
df_infanta_sofia['Fecha'] = pd.to_datetime(df_infanta_sofia['Fecha'])

In [136]:
df_infanta_sofia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 0 to 266
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rating           267 non-null    int64
 1   snippet          232 non-null    object
 2   Fecha            267 non-null    datetime64[ns]
 3   Ciudad           267 non-null    object
 4   Dirección        267 non-null    object
 5   Establecimiento  267 non-null    object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 14.6+ KB

# Hosp. Univ. Fundación Alcorcón

In [137]:
api_call_1 = pd.read_csv('./fund_alcorcon/fund_alcorcon_1.csv')
api_call_2 = pd.read_csv('./fund_alcorcon/fund_alcorcon_2.csv')
api_call_3 = pd.read_csv('./fund_alcorcon/fund_alcorcon_3.csv')
api_call_4 = pd.read_csv('./fund_alcorcon/fund_alcorcon_4.csv')
api_call_5 = pd.read_csv('./fund_alcorcon/fund_alcorcon_5.csv')
api_call_6 = pd.read_csv('./fund_alcorcon/fund_alcorcon_6.csv')
api_call_7 = pd.read_csv('./fund_alcorcon/fund_alcorcon_7.csv')
api_call_8 = pd.read_csv('./fund_alcorcon/fund_alcorcon_8.csv')
api_call_9 = pd.read_csv('./fund_alcorcon/fund_alcorcon_9.csv')
api_call_10 = pd.read_csv('./fund_alcorcon/fund_alcorcon_10.csv')
api_call_11 = pd.read_csv('./fund_alcorcon/fund_alcorcon_11.csv')
api_call_12 = pd.read_csv('./fund_alcorcon/fund_alcorcon_12.csv')
api_call_13 = pd.read_csv('./fund_alcorcon/fund_alcorcon_13.csv')
api_call_14 = pd.read_csv('./fund_alcorcon/fund_alcorcon_14.csv')
api_call_15 = pd.read_csv('./fund_alcorcon/fund_alcorcon_15.csv')
api_call_16 = pd.read_csv('./fund_alcorcon/fund_alcorcon_16.csv')
api_call_17 = pd.read_csv('./fund_alcorcon/fund_alcorcon_17.csv')
api_call_18 = pd.read_csv('./fund_alcorcon/fund_alcorcon_18.csv')
api_call_19 = pd.read_csv('./fund_alcorcon/fund_alcorcon_19.csv')
api_call_20 = pd.read_csv('./fund_alcorcon/fund_alcorcon_20.csv')
api_call_21 = pd.read_csv('./fund_alcorcon/fund_alcorcon_21.csv')

In [139]:
df_fund_alcorcon = pd.concat([api_call_1,
                            api_call_2,
                            api_call_3,
                            api_call_4,
                            api_call_5,
                            api_call_6,
                            api_call_7,
                            api_call_8,
                            api_call_9,
                            api_call_10,
                            api_call_11,
                            api_call_12,
                            api_call_13,
                             api_call_14,
                             api_call_15,
                             api_call_16,
                             api_call_17,
                             api_call_18,
                             api_call_19,
                             api_call_20,
                             api_call_21], sort=False, ignore_index=True)

In [140]:
df_fund_alcorcon.head()

,Unnamed: 0,link,rating,date,source,review_id,snippet,user.name,user.link,user.contributor_id,user.thumbnail,user.local_guide,user.reviews,user.photos,extracted_snippet.original,extracted_snippet.translated,likes,images,details.hoy_25_7_23,details.hoy_8_2_22
0,0,https://www.google.com/maps/reviews/data=!4m8!...,1.0,15 hours ago,Google,ChZDSUhNMG9nS0VJQ0FnSUM5LU51c0l3EAE,Esta semana acompañé a mi pareja embarazada a ...,Hector,https://www.google.com/maps/contrib/1008645205...,100864520572441723420,https://lh3.googleusercontent.com/a-/ALV-UjXK6...,True,47.0,1.0,Esta semana acompañé a mi pareja embarazada a ...,This week I accompanied my pregnant partner to...,NaN,NaN,NaN,NaN
1,1,https://www.google.com/maps/reviews/data=!4m8!...,5.0,a day ago,Google,ChZDSUhNMG9nS0VJQ0FnSUM5bU1YdENREAE,Quería dar las gracias al personal sanitario d...,Luis Fer,https://www.google.com/maps/contrib/1062095493...,106209549313199949096,https://lh3.googleusercontent.com/a-/ALV-UjXm1...,NaN,6.0,2.0,Quería dar las gracias al personal sanitario d...,I wanted to thank the health staff of this hos...,NaN,NaN,NaN,NaN
2,2,https://www.google.com/maps/reviews/data=!4m8!...,1.0,3 days ago,Google,ChZDSUhNMG9nS0VJQ0FnSURkbDRQOFlREAE,Lamentable el juego que tienen a la hora de co...,María A,https://www.google.com/maps/contrib/1022979439...,102297943944323205326,https://lh3.googleusercontent.com/a-/ALV-UjW8u...,NaN,8.0,NaN,Lamentable el juego que tienen a la hora de co...,The game they play when picking up the phone i...,NaN,NaN,NaN,NaN
3,3,https://www.google.com/maps/reviews/data=!4m8!...,5.0,3 days ago,Google,ChdDSUhNMG9nS0VJQ0FnSURkbDdXTjR3RRAB,El hospital funciona y está organizado muy bie...,Federico Jorreto,https://www.google.com/maps/contrib/1172464555...,117246455596146844599,https://lh3.googleusercontent.com/a/ACg8ocJNlQ...,True,12.0,NaN,El hospital funciona y está organizado muy bie...,The hospital works and is organized very well....,NaN,NaN,NaN,NaN
4,4,https://www.google.com/maps/reviews/data=!4m8!...,4.0,3 days ago,Google,ChZDSUhNMG9nS0VJQ0FnSURkdV9yOWR3EAE,NaN,Jose Juan Palomar,https://www.google.com/maps/contrib/1123203942...,112320394264644049607,https://lh3.googleusercontent.com/a-/ALV-UjVxB...,True,17.0,234.0,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
df_fund_alcorcon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    210 non-null    int64
 1   link                          210 non-null    object
 2   rating                        210 non-null    float64
 3   date                          210 non-null    object
 4   source                        210 non-null    object
 5   review_id                     210 non-null    object
 6   snippet                       163 non-null    object
 7   user.name                     210 non-null    object
 8   user.link                     210 non-null    object
 9   user.contributor_id           210 non-null    object
 10  user.thumbnail                210 non-null    object
 11  user.local_guide              105 non-null    object
 12  user.reviews                  207 non-null    float64
 13  user.photos                   123 non-null    float64
 14  extracted_snippet.original    163 non-null    object
 15  extracted_snippet.translated  163 non-null    object
 16  likes                         95 non-null     float64
 17  images                        5 non-null      object
 18  details.hoy_25_7_23           1 non-null      object
 19  details.hoy_8_2_22            1 non-null      object
dtypes: float64(4), int64(1), object(15)
memory usage: 32.9+ KB

In [146]:
# PENDIENTE
drop_cols = ['Unnamed: 0',
                 'link',
                'source',
                'review_id',
                'user.name',
                'user.link',
                'user.contributor_id',
                'user.thumbnail',
             'user.local_guide',
                'user.reviews',
             'user.photos',
                'extracted_snippet.original',
                'extracted_snippet.translated',
                'likes',
                'details.hoy_25_7_23',
                'details.hoy_8_2_22',
            'images']
                #'details.no_me_deja_responderos_por_lo_que_edito_22_08_23_10']
df_fund_alcorcon = df_fund_alcorcon.drop(columns=[columna for columna in drop_cols if columna in df_fund_alcorcon.columns], errors='ignore')
print(f'Eliminadas las columnas innecesarias del DataFrame. Ahora cuenta con las siguientes columnas: ', len(df_fund_alcorcon.columns))

Eliminadas las columnas innecesarias del DataFrame. Ahora cuenta con las siguientes columnas:  3

In [147]:
df_fund_alcorcon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rating   210 non-null    float64
 1   date     210 non-null    object
 2   snippet  163 non-null    object
dtypes: float64(1), object(2)
memory usage: 5.0+ KB